body::before {
  display: block;
  content: '';
  height: 60px;


  
}
 /* Modify the background color */
         
 .navbar {
  background-color: teal;
}
/* Modify brand and text color */

.navbar .navbar-brand,
.navbar .navbar-text {
  color: rgb(8, 10, 8);
}

.navbar .nav-item,
.navbar .navbar-text {
  color: green;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
